<ion-header>
  <ion-toolbar class="tool">
    <ion-buttons slot="end">
      <ion-button (click)="deleteTarea()">
        <ion-icon style="color: white" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
      <ion-title style="text-align:center; color:white;">
        Detalle Tarea
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button style="color: white">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="toolbar">
    <img [src]="agenda.imagen">
    <ion-card-header>
      <ion-card-title style="text-align:center; color: rgb(255, 255, 255);">{{agenda.titulo}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2 style="text-align:center; color:rgb(255, 255, 255);">{{agenda.descripcion}}</h2>
    </ion-card-content>

  </ion-card>
</ion-content>

<app-footer></app-footer>