<ion-header>
<app-encabezadoadd></app-encabezadoadd>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-item>
            <ion-label style="color:rgb(255, 255, 255);" position="floating">Título:</ion-label>
            <ion-input clearInput #titulo></ion-input>
          </ion-item>
          <ion-item>
            <ion-label style="color:rgb(255, 255, 255);" position="floating">Enlace a Foto:</ion-label>
            <ion-input clearInput #imagen></ion-input>
          </ion-item>
          <ion-item>
            <ion-label style="color:rgb(255, 255, 255);" position="floating">Descripción de la tarea:</ion-label>
            <ion-input clearInput #descripcion></ion-input>
          </ion-item>
        <ion-button color="primary" (click)="addTarea(titulo,imagen,descripcion)" expand="block" style="margin-top:20px;">Agregar Tarea</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
