<ion-header>
  <app-encabezadologin></app-encabezadologin>
</ion-header>

<ion-content fullscreen>
  <ion-list *ngIf="listaTarea">
    <ion-item *ngFor="let aux of listaTarea" [routerLink]="['/agenda', aux.id]">
      <ion-avatar slot="start">
        <img src="aux.imagen">
      </ion-avatar>
        <ion-label>
          <b><p style="color:rgb(198, 6, 236)">
            {{aux.titulo}}
          </p></b>
        </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="toolbar" (click)="addTarea()">
      <ion-icon style="color: rgb(254, 182, 27)" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>